
body {
	background: linear-gradient(to bottom, rgb(50, 168, 82), rgb(50,50,50));
	font-size: 1.25em
	text-align: justify;
	font-family: "Times New Roman", sans-serif;
}

.title {
	font-size: 60px;
}

h2:hover {
	color: blue;
}

h2[class="about-me"] {
	color:magenta;
}

.about-me {
	color: red;
}

/*#services {
	color: green;
}
*/
ul:hover {
	color: purple;
}

#google-link:link {
	color: blue;
}

#google-link:visited {
	color:yellow;
}

h2 + a {
	color: yellow;
}

textarea + button {
	color: purple;
}

ul > li {
	color:blue;
}

ul li {
	color: rgb(0,255,230);
}

img[src*="../img/"] {
	border: 10px solid black;
	margin: 40px;
	padding: 100px 40px 10px 10px;
}

#google-link {
	text-decoration: line-through;
}

.about-me {
	background: blue
}

#services-image{
	height: 400px;
	width: 70vw;
	/*background: linear-gradient(160deg, rgba(94,255,90, 0.5), green, blue);*/
	background: radial-gradient(red 20%, blue 40%, grey 50%);
	/*background-size: cover;*/
	border: 14px double pink;
	


}

.italics {
	font-style: italic;
}



