
body {
	background: linear-gradient(to bottom, rgb(252, 186, 3), white);
	font-size: 1.25em
	text-align: justify;
	font-family: "Georgia", sans-serif;
}

.title {
	font-size: 60px;
}

h2:hover {
	color: rgba(207, 152, 0, 0.6);
}

h2[class="about-me"] {
	color:magenta;
}

.about-me {
	color: white;
}

/*#services {
	color: green;
}
*/
ul:hover {
	color: purple;
}

#google-link:link {
	color: blue;
}

#google-link:visited {
	color: rgb(90,90,90);
}

h2 + a {
	color: black;
}

textarea + button {
	color: rgb(207, 152, 0);
}

textarea {
	width: 300px;
	height: 100px;
}

ul > li {
	color:blue;
}

ul li {
	color: rgb(90, 90, 90);
}

img[src*="../img/"] {
	border: 10px solid black;
	margin: 40px;
	padding: 10px 40px 10px 40px;
}

#google-link {
	text-decoration: none;
}

/*.about-me {
	background: blue
}*/

/*#services-image{
	height: 400px;
	width: 70vw;
	/*background: linear-gradient(160deg, rgba(94,255,90, 0.5), green, blue);
	background: radial-gradient(red 20%, blue 40%, grey 50%);
	float: left;
	/*background-size: cover;
	border: 14px double pink;
	
}*/

#ordered-list {
	float:right;
	margin-right: 2px; 
	padding-top: 30px; 
	font-size:1.1em;
	font-family: "Helvetica", sans-serif;
}

#oranges {
	border: none;
	margin: auto;
	padding:2px;
	height: 200px;
	/*float: left;*/
}

.normal {
	font-style: normal;
}

.italics {
	font-style: italic;
}

.container {
	background-color: rgba(252, 186, 3, 0.7);
	margin: 10px;
	height: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border: 5px dashed black;

}

.container-item {
	background: rgb(255,255,255);
	color: rgb(90,90,90);
	font-style: italic;
	text-align: center;
	font-weight: 900;

	width: 70px;
	line-height: 50px;
	margin: 10px;
}

.grid-container {
	margin: 10px;
	height: 300px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;


}

.grid-item {
	color: black;
	font-size: 25px;
	text-align: center;

	width: 70px;
	line-height: 40px;
	margin: 10px;
}

.submit-button {
	margin: 20px 10px 30px;
	padding: 10px 15px;
	border: none;
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: white;
	background: blue;
	transform: matrix(1, 0.45, 0.45, 1, 10, 10);
);

}

.submit-button:hover {
	background:lightblue;
	padding: 20px 30px;


}

.animation-header {
	animation-name: translate-element;
	animation-duration: 4s;
	animation-timing-function: ease;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes translate-element {
	0% {
		background: red;
		transform: translate(0px, 0px);
	}
	50% {
		background: yellow;
		transform: translate(10px, 10px);
	}
	100% {
		background: black;
		transform: translate(20px, 20px);
	}
}


